.top-hero{background:url('../../assets/img/event.jpg');margin-top: -56px; min-height:40vh; background-size: cover;background-position: center 445px;}
.founder-img{width:325px}
.h1-height{line-height: 1.4}
.p-height {line-height: 2!important}