<div class="top-hero py-5">
  </div>
  <div class="bg-light">
  <div class="container pt-5">
      <div class="row">
        <div class="col-md-8 py-5">
         <h1 class="font-weight-bold h1-height">
           Alegna Travel & Events is a travel and events company that caters to corporate and leisure clients. It was founded in 2015 by Angela Casara.
          </h1>
          <p class="pt-1 p-height">
            She had the privilege to render services to Miss Heritage Global beauty pageant in 2015 that was held at the Gallagher Estate in Midrand. Managing all travel arrangements from booking flights and hotel accommodation for participants from more than 50 countries internationally. 
            Its female black owned level 1 B-BBEE Accredited.
          </p>  
       
           
        </div>
        <div class="col-md-4">
          <img src="../../assets/img/work_03.jpg" class="founder-img"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 py-3">
           <h2 class="font-weight-bold">Core Values</h2> 
           <ul class="list-style pl-3">
              <li>A commitment of integrity</li>
              <li>Have a transparent policy. No hidden agenda</li>
              <li>Professionalism</li>
              <li>The pursuit of excellence</li>
              <li>Treat customers, employees and suppliers, as we would want to be treated</li>
            </ul>
       
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 py-3">
             <h2 class="font-weight-bold">Vision</h2> 
             <p >To become one of the most accomplished and creative travel and corporate events management companies globally</p>
         
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 py-3">
               <h2 class="font-weight-bold">Mission</h2> 
               <ul class="list-style pl-3">
                  <li>Offer tailor-made services to clients</li>
                  <li>Have client retention with satisfied clients</li>
                  <li>To instil high morale with concerted teamwork</li>
                  <li>To have professional and well trained staff</li>
                  <li>Encourage creativity</li>
                </ul>
           
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 py-3">
                 <h2 class="font-weight-bold">Our promise to you</h2> 
                 <ul class="list-style pl-3">
                    <li>Quality service excellence - Cost effective solutions</li>
                    <li>Ensuring you have an unforgettable experience</li>
                    <li>We’ll save you time</li>
                  </ul>
             
                </div>
              </div>
            </div>
    </div>
    
  
  