/*tophero{color:#5e6573*/
.tophero{min-height:40vh; margin-top: -56px;background-size: cover;background-image: url('../../assets/img/team.jpg');background-position-y: 970px;}
.word {width: 273px; word-break: break-all;}
.linespacing{margin-top: -6px}
 .leftborder {border-left: 2px solid #f4bd39!important}