<div class="top-hero py-5 text-white">

    <h1 class="text-center top-hero-text">CONTACT</h1>
    <p class="text-center ">
        Do you have any request or you want to know more about us? <br>
        Kindly do send us an email by filling in the form below and we'll get back to you as soon as we receive your
        email.
    </p>
</div>
<div>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 leftdiv p-5">
            <h1 class="font-weight-bold pt-4 text-warning">SAY</h1>
            <h1 class="font-weight-bold text-white linespacing pb-3">HELLO.</h1>
            <div class="leftborder pl-3 text-white">
                <p class="breakword">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.
                    Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur <br>
                </p>
                <p><i class="fas fa-phone"></i> +27 (11) 038 1220<br>
                    <i class="fas fa-phone"></i> +27 (84) 535 8857</p>
                <p><i class="fas fa-envelope"></i> INFO@ALEGNATRAVEL.COM</p>
                <p ><i class="fas fa-map-marker-alt"></i> RIVERSAND INCUBATION HUB <br>BLOCK 2, BUSINESS
                    SUITE 6, 8 INCUBATION DRIVE, <br>RIVERSIDE VIEW, EXT15, MIDRAND, SOUTH AFRICA</p>
            </div>


        </div>
        <div class="col-md-6 shadow p-5 ">
            <h2 class="text-center pb-4 font-weight-bold">LET'S WORK TOGETHER</h2>
            <form name="contact" method="POST" netlify>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="fullname">Fullname</label>
                        <input type="text" class="form-control border-left-0 border-right-0 border-top-0 border-bottom rounded-0 shadow-none pl-0" placeholder="Enter your fullname">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control border-left-0 border-right-0 border-top-0 border-bottom rounded-0 shadow-none pl-0" placeholder="Enter your email address">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control border-left-0 border-right-0 border-top-0 border-bottom rounded-0 shadow-none pl-0" placeholder="Enter subject of your email">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="message">Message</label>
                        <textarea type="text" class="form-control  border-left-0 border-right-0 border-top-0 border-bottom rounded-0 shadow-none pl-0 pb-5" placeholder="Start writing"></textarea>
                    </div>
                  
                    <div class="form-group col-6 offset-3 md-12 pt-3">
                        <button type="button" class="btn btn-warning text-white btn-block rounded-0">Submit Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
  

