/*tophero{color:#5e6573*/
.top-hero{background:#727060 url('../../assets/img/luggage-guy.jpg');margin-top: -56px; min-height:50vh; background-blend-mode: multiply; background-size: cover;background-position: center 945px;}
.top-hero-text{margin-top:100px}
.breakword {width: 400px; word-break: break-all;}
.linespacing{margin-top: -6px}
.leftborder {border-left: 2px solid #f4bd39!important}
input:focus,textarea:focus {border-bottom: 2px solid #f4bd39!important}
.leftdiv{background:#1F494D}




