.tophero{margin-top: -56px; min-height: 7vh; background-color:black}
.form-noborder .form-control {border: 0; border-radius: 0; border-bottom: #ccc solid 1px;background-color: #eee;}
.contact-layout{background-color: #F3EFEA; opacity:.80; margin-top: 70px}
.googlemap iframe {height: 50vh !important;}
.navbar-dark .navbar-nav .nav-link {color: red;}
