<div class="py-5">
  <div class="container">

    <h1>Alegna Travels & Events</h1>
    Alegna Travel & Events is a travel and events company that caters to
    <p>corporate and leisure clients. It was founded by Angela Casara in 2015.</p>

  </div>
  <div class="row py-2" >

    <div class="col-md-3 p-0" *ngFor="let places of myPlaces">
      <img src='{{places.image}}' class="alegna-img img-fluid"/>
      <div class="pl-4 bottom-left text-white font-weight-bold">
        {{places.name}}
        <p>{{places.location}}</p>
      </div>

    </div>

  </div>
</div>