.tophero{min-height: 70vh; margin-top: -56px; background-size: cover;background-image: url('../../assets/img/hills.jpg');  background-position-y:800px}
.services-border {border-bottom: #ccc solid 3px;}
.spacing{margin-top: -12px}
