.tophero{min-height: 70vh; margin-top: -56px; background-size: cover;background-image: url('../../assets/img/group.jpg');  background-position-y:center}
.services-border {border-bottom: #ccc solid 3px;}
.spacing{margin-top: -12px}
