.tophero{min-height: 100vh; margin-top: -56px; background-size: cover;background-image: url('../../assets/img/resort.jpg'); background-position-y: 970px;}
.form-noborder .form-control {border: 0; border-radius: 0; border-bottom: #344259 solid 1px;background-color: #eee;}
.ml-5, .mx-5 {margin-left: 7rem !important;}
button{background-color:yellow;  border: 1.2px #1a1a1a solid ; border-radius: 3px; }
::placeholder { color: #313030;opacity: 1;}
.contact-layout{background-color: #F3EFEA; opacity:.80; margin-top: 70px}
hr{border-bottom: #ccc solid 1px}
.content-middle{margin-top: 150px!important}
.spacing{margin-top: -10px}
.services div {border-bottom: #fff solid 1px;}
.services div:hover {border-bottom-color: #FABE25}
.loading-img{height:auto; width: 100px}